BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
InsertBraces: true
